.navbar-label{
  display: flex;
  align-items: center;
  width: 400px;
  background-color: #fff;
}

.search__input{
  outline: none;
  border: none;
  width: 320px;
}

.carousel-indicators {
z-index: 1 !important;
}
.ReactModal__Overlay--after-open{
  z-index: 10 !important;
}
